#note-editor {
  width: 360px;
  background-color: #1e222d;
  padding: 20px;
  border-radius: 10px;
  display: grid;
  gap: 4px;
}

#note-editor > h4 {
  margin: 0px 0px 15px 0px;
  color: white;
}

#note-editor-input {
  min-height: 100px;
}
