#hero {
  display: grid;
  place-content: center;
  text-align: center;
  gap: 1rem;
}

#hero > #pitch {
  width: 65ch;
}

#hero > #cta {
  display: grid;
  grid-auto-flow: column;
  gap: 1rem;
}

#hero > #cta > #sign-up {
  background: oklch(70.2% 0.183 293.541);
  color: oklch(25.7% 0.09 281.288);
}

#hero > #cta > button {
  font-size: 1.25rem;
  padding: 1rem;
  border: none;
  border-radius: 2rem;
  cursor: pointer;
}
